@charset "UTF-8";
.flex-contacto .enviar:hover {
  background-color: #243dcb;
  color: #f2e71d;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globales*/
body {
  font-family: "ADLaM Display", system-ui;
}

.fondo-azul {
  background-image: url(../img/fondo-azul.svg);
  color: #F2BD1D;
}

main {
  color: #16288C;
  padding: 15px;
}

.titulo {
  font-size: 60px;
  text-align: center;
  padding: 10px;
}

.fondo-amarillo {
  background-image: url(../img/fondo-amarillo.svg);
}

.subtitulo {
  font-size: 35px;
  padding: 10px;
}

.menu {
  flex-grow: 0;
}
.menu ul {
  column-gap: 10px;
  align-items: center;
}
.menu ul li a {
  text-decoration: none;
  color: #F2BD1D;
  font-size: 20px;
}

.menu-hamburguesa {
  background-image: url(../img/menu-hamburguesa.svg);
}

.menu-boton {
  border: 2px solid #F2BD1D;
}
.menu-boton:focus {
  box-shadow: none;
}

.padding-0 {
  padding: 0;
  padding-right: 10px;
}

.decoracion:hover {
  color: rgb(255, 234, 0);
  text-decoration: underline;
}

/*Main index*/
.carta {
  padding: 15px;
  display: flex;
}
.carta img {
  width: 60%;
  border: 3px solid #16288C;
  border-radius: 10px 0px;
}
.carta .carta-texto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 10px;
}
.carta .carta-texto img {
  width: 20%;
  border: none;
}

/*--- MAIN GALERIA ----*/
.grid-fotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 30vh);
  gap: 10px;
  margin: 2px;
  grid-template-areas: "img1   img2    img3    img3" "img4   img2    img3    img3" "img4   img5    img5    img7" "img6   img10   img10   img7" "img8   img10   img10   img9 " "img8   img14   img11   img9" "img12  img14   img16   img15" "img18  img14   img13   img15" "img19  img19   img20   img17" "img19  img19   img20   img17";
}
.grid-fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-fotos .img-1 {
  grid-area: img1;
}
.grid-fotos .img-2 {
  grid-area: img2;
}
.grid-fotos .img-3 {
  grid-area: img3;
}
.grid-fotos .img-4 {
  grid-area: img4;
}
.grid-fotos .img-5 {
  grid-area: img5;
}
.grid-fotos .img-6 {
  grid-area: img6;
}
.grid-fotos .img-7 {
  grid-area: img7;
}
.grid-fotos .img-8 {
  grid-area: img8;
}
.grid-fotos .img-9 {
  grid-area: img9;
}
.grid-fotos .img-10 {
  grid-area: img10;
}
.grid-fotos .img-11 {
  grid-area: img11;
}
.grid-fotos .img-12 {
  grid-area: img12;
}
.grid-fotos .img-13 {
  grid-area: img13;
}
.grid-fotos .img-14 {
  grid-area: img14;
}
.grid-fotos .img-15 {
  grid-area: img15;
}
.grid-fotos .img-16 {
  grid-area: img16;
}
.grid-fotos .img-17 {
  grid-area: img17;
}
.grid-fotos .img-18 {
  grid-area: img18;
}
.grid-fotos .img-19 {
  grid-area: img19;
}
.grid-fotos .img-20 {
  grid-area: img20;
}

/* Videos */
.grid-videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 300px);
  gap: 10px;
  margin: 10px;
}
.grid-videos iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*BIBLIOGRAFÍA*/
.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 900px);
  gap: 15px;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6" "card7 card8 card9";
}
.grid-section .grid-card1 {
  grid-area: card1;
}
.grid-section .grid-card2 {
  grid-area: card2;
}
.grid-section .grid-card3 {
  grid-area: card3;
}
.grid-section .grid-card4 {
  grid-area: card4;
}
.grid-section .grid-card5 {
  grid-area: card5;
}
.grid-section .grid-card6 {
  grid-area: card6;
}
.grid-section .grid-card7 {
  grid-area: card7;
}
.grid-section .grid-card8 {
  grid-area: card8;
}
.grid-section .grid-card9 {
  grid-area: card9;
}
.grid-section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.grid-section .efect {
  border: 1px solid #16288C;
  overflow: hidden;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.1);
}
.grid-section .efect:hover {
  box-shadow: 10px 10px 19px 1px rgb(22, 40, 140);
}
.grid-section .efect .grid-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 460px;
  padding: 0 10px 0 10px;
}

/* -----MAIN PALMARES---*/
/*CARRUSEL*/
.img img {
  width: 100%;
}

/*PALMARES*/
.container-palmares {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 50px;
}
.container-palmares .palmares {
  width: 400px;
  height: 250px;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 19px 1px rgb(22, 40, 140);
  border-radius: 5% 0 5% 0;
  overflow: hidden;
}
.container-palmares .palmares:hover {
  transform: scale(1.1);
  transition: 4s;
}
.container-palmares .palmares .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/*--- Main CONTACTO ---*/
.flex-ayuda img {
  width: 100%;
}

.flex-contacto {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /*display: flex;
  flex-direction: column;
  */
  margin-bottom: 10px;
}
.flex-contacto .enviar {
  background-color: #16288C;
  color: #F2BD1D;
  border: none;
}
/*--- FOOTER ---*/
.pie-pagina {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.pie-pagina .pie-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 20px;
  width: 150px;
  margin: 40px;
}
.pie-pagina .pie-links img {
  width: 100%;
}

/*--MEDIA ESPECIFICA DEL NAV--*/
@media screen and (max-width: 991px) {
  .menu {
    position: absolute;
    top: 185px;
    background-image: url(../img/fondo-azul.svg);
    width: 100%;
  }
}
/*----TABLET -----*/
@media screen and (max-width: 1024px) {
  .carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .carta img {
    width: 100%;
  }
  .carta .carta-texto img {
    width: 20%;
    border: none;
  }
  /*---GALERIA---*/
  .grid-fotos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, 300px);
    grid-template-areas: "img2     img1" "img2     img3" "img19     img7" "img6     img7" "img9     img11" "img9     img10" "img12    img8" "img13    img8" "img14    img16" "img14    img18" "img17    img15" "img17    img15" "img20    img4" "img20    img4" "img5    img5";
  }
  /*--BIBLIOGRAFÍA--*/
  .grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 850px);
    gap: 15px;
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6" "card7 card8" "card9 card9";
  }
  /*----FOOTER----*/
  .pie-pagina {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .pie-pagina .pie-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
/*---MOBILE---*/
@media screen and (max-width: 768px) {
  /*---Galeria fotos----*/
  .grid-fotos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(29, 300px);
    grid-template-areas: "img1" "img3" "img5" "img6" "img10" "img11" "img12" "img13" "img16" "img19" "img20" "img2" "img2" "img4" "img4" "img7" "img7" "img8" "img8" "img9" "img9" "img14" "img14" "img15" "img15" "img17" "img17" "img18" "img18";
  }
  /*---galeria videos----*/
  .grid-videos {
    grid-template-columns: 1fr;
  }
  .grid-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 900px);
    gap: 15px;
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "card9";
  }
}

/*# sourceMappingURL=main.css.map */
