/*BIBLIOGRAFÍA*/

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 900px);
    gap: 15px;

    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card6"
    "card7 card8 card9";
    .grid-card1 {
        grid-area: card1;
    }
    
    .grid-card2 {
        grid-area: card2;
    }
    .grid-card3 {
        grid-area: card3;
    }
    .grid-card4 {
        grid-area: card4;
    }
    .grid-card5 {
        grid-area: card5;
    }
    .grid-card6 {
        grid-area: card6;
    }
    .grid-card7 {
        grid-area: card7;
    }
    .grid-card8 {
        grid-area: card8;
    }
    .grid-card9 {
        grid-area: card9;
    }
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .efect {
        border: 1px solid $color-secundario;
        overflow: hidden;
        border-radius: 5%;
        background: rgba( 255, 255, 255, 0.1 );
        &:hover{
            box-shadow: 10px 10px 19px 1px rgba(22,40,140,1);
        }
        .grid-texto {
            @include flex (column, center, space-evenly);
            text-align: center;
            height: 460px;
            padding: 0 10px 0 10px;
        }
    }
}