/* Estilos Globales*/
body {
    font-family: 'ADLaM Display', system-ui;
}
.fondo-azul{
    background-image: url(../img/fondo-azul.svg);
    color: #F2BD1D;
}
main {
    color: #16288C;
    padding: 15px;
}
.titulo {
    font-size: 60px;
    text-align: center;
    padding: 10px;
}

.fondo-amarillo {
    background-image: url(../img/fondo-amarillo.svg);
}
.subtitulo {
    font-size: 35px;
    padding: 10px;
}